<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.dao.ItemMapper" >
  <resultMap id="BaseResultMap" type="com.jk.entity.Item" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="SELL_POINT" property="sellPoint" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="NUM" property="num" jdbcType="DECIMAL" />
    <result column="BARCODE" property="barcode" jdbcType="VARCHAR" />
    <result column="IMAGE" property="image" jdbcType="VARCHAR" />
    <result column="CID" property="cid" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="DECIMAL" />
    <result column="CREATED" property="created" jdbcType="TIMESTAMP" />
    <result column="UPDATED" property="updated" jdbcType="TIMESTAMP" />
  </resultMap>
  <!-- 结果集 -->
  <resultMap type="com.jk.entity.Item" id="resultMap">
    <id column="i_id" property="id" jdbcType="DECIMAL" />
    <result column="i_title" property="title" jdbcType="DECIMAL" />
    <result column="i_price" property="price" jdbcType="DECIMAL" />
    <result column="i_num" property="num" jdbcType="DECIMAL" />
    <result column="i_status" property="status" jdbcType="DECIMAL" />
    <result column="i_created" property="created" jdbcType="TIMESTAMP" />
    <association property="itemCat" javaType="com.jk.entity.ItemCat">
      <id column="c_id" property="id"  />
      <result column="c_name" property="name" jdbcType="VARCHAR"  />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, SELL_POINT, PRICE, NUM, BARCODE, IMAGE, CID, STATUS, CREATED, UPDATED
  </sql>
<!--  展示字段-->
  <sql id="Many_Column_List" >
    t1.id as i_id , t1.title as i_title ,t1.price as i_price,t1.num as i_num,t1.status as status,t1.created as i_created,
    t2.id as c_id ,t2.name as  c_name
  </sql>

  <select id="selectByPrimaryKey" resultMap="resultMap" parameterType="Long" >
    select 
    <include refid="Base_Column_List" />
    from TB_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
<!--条件查询-->
  <sql id="where_sql">
    <where>
      <trim prefixOverrides="and">
      <if test="whereMap != null &amp;&amp; whereMap.utitle != null and whereMap.utitle != ''">
        AND t1.title LIKE '%${whereMap.utitle}%'
      </if>
        <if test="whereMap != null &amp;&amp; whereMap.uminprice != null and whereMap.uminprice != ''">
          AND t1.price &gt;= #{whereMap.uminprice}
        </if>
        <if test="whereMap != null &amp;&amp; whereMap.umaxprice != null and whereMap.umaxprice != ''">
          AND t1.price &lt;= #{whereMap.umaxprice}
        </if>
        <if test="whereMap != null &amp;&amp; whereMap.ucat != null and whereMap.ucat != ''">
          AND t1.cid = #{whereMcap.ucat}
        </if>
      </trim>
    </where>
  </sql>
  <select id="selectItemWhere" resultMap="resultMap" parameterType="com.jk.entity.Item">
    select
    <include refid="Many_Column_List"></include>
    from
    TB_ITEM t1 left join TB_ITEM_CAT t2
    on t1.CID = t2.ID
    <where>
      <trim prefixOverrides="and">
        <if test="title!=null and title!=''">
          and title like '%${title}%'
        </if>
      </trim>
    </where>
  </select>
  <!-- 商品与商品类别 关联查询list -->
  <select id="selectItemManyList" resultMap="resultMap" parameterType="com.jk.util.PageUtil">
    select tt.* from (
    select t.*,rownum rn from
    (
    select <include refid="Many_Column_List"></include> from
    TB_ITEM t1 left join TB_ITEM_CAT t2
    on t1.CID = t2.ID
    <include refid="where_sql"></include>
    <!-- 排序-->
    ORDER  BY t1.${sort} ${order}
    ) t
    where rownum &lt;= #{end}
    ) tt where rn &gt; #{start}
  </select>


  <!-- 商品与商品类别 关联查询count -->
  <select id="selectItemManyListCount" resultType="java.lang.Integer" parameterType="com.jk.util.PageUtil">
    select count(t1.id) from
    TB_ITEM t1 left join TB_ITEM_CAT t2
    on t1.CID = t2.ID
    <include refid="where_sql"></include>
    <!-- 排序-->
    ORDER  BY t1.${sort} ${order}
  </select>


  <!--批删除-->
  <delete id="deleteItem" parameterType="java.util.ArrayList" >
    delete from TB_ITEM where id in
    <foreach collection="list" open="(" close=")" index="i" item="a" separator=",">
      #{a}
    </foreach>
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="Long" >
    delete from TB_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.jk.entity.Item" >
    insert into TB_ITEM (ID, TITLE, SELL_POINT, 
      PRICE, NUM, BARCODE, 
      IMAGE, CID, STATUS, 
      CREATED, UPDATED)
    values (#{id,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{sellPoint,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{num,jdbcType=DECIMAL}, #{barcode,jdbcType=VARCHAR}, 
      #{image,jdbcType=VARCHAR}, #{cid,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <!--添加用户返回主键id-->
  <insert id="saveItem" parameterType="com.jk.entity.Item"  useGeneratedKeys="true" keyProperty="id">
    <selectKey keyColumn="id" keyProperty="id" resultType="Long" order="BEFORE">
      select SEQ_ITEM_ID.nextval as id from dual
    </selectKey>
    insert into TB_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="sellPoint != null" >
        SELL_POINT,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="barcode != null" >
        BARCODE,
      </if>
      <if test="image != null" >
        IMAGE,
      </if>
      <if test="cid != null" >
        CID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="created != null" >
        CREATED,
      </if>
      <if test="updated != null" >
        UPDATED,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sellPoint != null" >
        #{sellPoint,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        #{num,jdbcType=DECIMAL},
      </if>
      <if test="barcode != null" >
        #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="created != null" >
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateItemInfo" parameterType="com.jk.entity.Item" >
    update TB_ITEM
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sellPoint != null" >
        SELL_POINT = #{sellPoint,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=DECIMAL},
      </if>
      <if test="barcode != null" >
        BARCODE = #{barcode,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        IMAGE = #{image,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        CID = #{cid,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="created != null" >
        CREATED = #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null" >
        UPDATED = #{updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jk.entity.Item" >
    update TB_ITEM
    set TITLE = #{title,jdbcType=VARCHAR},
      SELL_POINT = #{sellPoint,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      NUM = #{num,jdbcType=DECIMAL},
      BARCODE = #{barcode,jdbcType=VARCHAR},
      IMAGE = #{image,jdbcType=VARCHAR},
      CID = #{cid,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      CREATED = #{created,jdbcType=TIMESTAMP},
      UPDATED = #{updated,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>